EDIT_URL="https://github.com/kuhlaid/carolina-community-composting/tree/main/"
APPLICATION_ID="xxx"
API_KEY="xxx"
NAVBAR_TITLE="Carolina Community Composting"
GITHUB_USER="kuhlaid"
GITHUB_REPO_NAME="carrrboro-composting"
GITHUB_REPO_URL="https://github.com/kuhlaid/carolina-community-composting"